body {
	font-family: "cCourier New", Poppins;	
	font-weight: 500; 
}

main { color: red; } 

.cabecalho { background-color: orange;}

.cabecalho .logo {
	width: 64px;
}

.cabecalho li {
	font-family: Poppins;
}
